.movieDetails {
  width: 1200px;
  font-size: 23px;
}
.movieDetails__container {
  display: flex;
}
/* .movieDetails__img {
  /* width: 100%; */
  /* width: 600px; */
/* } */
/* .movieDetails__link{
  display: block;
  /* margin-right: 50px; */
/* } */