.header {
  border-bottom: solid;
  margin-right: 20px;
  margin-left: 20px;
}

.navigation__list {
  display: flex;
  list-style: none;
}

.navigation__item {
  margin-right: 20px;
  /* color: rgb(158, 173, 187);
  color: rgb(65, 91, 207);
  border: black solid 1px; */
}

/* .navigation__link {
  text-decoration: none;
}

.active {
  color: red;
} */
